<%- include('header'); -%>



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attendance Sheet</title>
  <style>
    /* Add your custom styles here */
    table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #ccc;
    }
  </style>
</head>
<body>
    <h1>Today Schedule</h1>
    <h3><%= schedules[0].class %></h3>
   
    <table>
      <thead>
        <tr>
          <th>Class</th>
          <th>Mentor</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < schedules.length; i++) { %>
          <tr>
            <td><%= schedules[i].class %></td>
            <td><%= schedules[i].name %></td>
            <td><%= schedules[i].subject %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>



<%- include('footer'); -%>